---
import type { GitHubUser } from "@lib/github";

interface Props {
	userData: GitHubUser;
}

const { userData } = Astro.props;
---

<footer
	class="text-white !py-4 !px-6 border-t-2 border-black bg-black text-white">
	<p class="font-medium poppins text-center">
		&copy; {new Date().getFullYear()}
		{userData.name}. All rights reserved.
	</p>
</footer>
