---
interface Props {
	headings: Array<Object>;
}

const { headings } = Astro.props;
---

<aside
	class="bg-black p-6 md:p-8 hidden lg:block border-r-2 border-b-2 border-black col-span-1">
	<nav class="sticky top-6">
		<p class="text-xs font-bold uppercase tracking-wider mb-4 text-lime-400">
			Contents
		</p>
		<ul class="space-y-1">
			{
				headings.map((heading: any) => (
					<li>
						<a
							class={`
								block py-2 px-3 text-sm
								hover:bg-lime-500/20 hover:pl-4
								border-l-2 border-transparent hover:border-lime-400
								transition-all duration-200 ease-out
								poppins
								${heading.depth > 2 ? "text-gray-400 text-xs" : "text-white font-medium"}
							`}
							style={`margin-left: ${(heading.depth - 1) * 0.75}rem`}
							href={`#${heading.slug}`}>
							{heading.text}
						</a>
					</li>
				))
			}
		</ul>
	</nav>
</aside>
